# ─── MongoDB Atlas ────────────────────────────────────────────────────────────
# Copie ce fichier en .env et remplis tes vraies valeurs
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/fxair?retryWrites=true&w=majority

# ─── Serveur ──────────────────────────────────────────────────────────────────
PORT=5000
NODE_ENV=development

# ─── Client ───────────────────────────────────────────────────────────────────
CLIENT_URL=http://localhost:3000
